version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: lending_db
    #ports:
    #  - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    container_name: lending_backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend/app:/app/app # Mount local code for live reload
      - ./frontend:/app/frontend # Mount frontend for templates
    depends_on:
      - mongodb
      - redis
    env_file:
      - ./.env
    environment:
      - REDIS_HOST=redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: lending_redis
    # ports:
    #   - "6379:6379"
    restart: unless-stopped

  frontend:
    image: nginx:stable-alpine
    container_name: lending_frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html # Serve static files
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
