version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: lending_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    container_name: lending_backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend/app:/app/app # Mount local code for live reload
    depends_on:
      - mongodb
    env_file:
      - ./.env
    restart: unless-stopped

  frontend:
    image: nginx:stable-alpine
    container_name: lending_frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html # Serve static files
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
